node-red.json
[{"id":"2d085ca9992c3b3b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d0a7f7542b63d994","type":"debug","z":"2d085ca9992c3b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"a0f2f643.ae0bb8","type":"inject","z":"2d085ca9992c3b3b","name":"Poll all 125 registers","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"[\"0x01\",\"0x03\",\"0x00\",\"0x01\",\"0x00\",\"0x7d\",\"0xd4\",\"0x2b\"]","payloadType":"bin","x":200,"y":140,"wires":[["58087e57.c43378","7b63b43292b88857"]],"info":"# [\"0x01\", \"0x03\", \"0x00\", \"0x01\", \"0x00\", \"0x7d\", \"0xd4\", \"0x2b\"]\n# [\"0x01\",\"0x03\",\"0x00\",\"0x64\",\"0x00\",\"0x01\",\"0x66\",\"0xCA\"]"},{"id":"58087e57.c43378","type":"debug","z":"2d085ca9992c3b3b","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":180,"wires":[]},{"id":"0278d5e4d04b01d1","type":"function","z":"2d085ca9992c3b3b","name":"extract the SOC","func":"var soc = msg.payload[44];\n\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: soc };\n} else {\n    return { payload: null };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["b3fc08566ed6d90d","e32fe20a7cedf9c9"]]},{"id":"b3fc08566ed6d90d","type":"debug","z":"2d085ca9992c3b3b","name":"SOC","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"7b63b43292b88857","type":"serial request","z":"2d085ca9992c3b3b","name":"","serial":"a542f510.da542","x":440,"y":120,"wires":[["d0a7f7542b63d994","0278d5e4d04b01d1"]]},{"id":"e32fe20a7cedf9c9","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"BMS SOC","entityConfig":"765219ac2222f3e9","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":280,"wires":[[]]},{"id":"a542f510.da542","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"3000"},{"id":"765219ac2222f3e9","type":"ha-entity-config","server":"af0ecd52.06c9e","deviceConfig":"","name":"BMS Battery","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS battery"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":true},{"id":"af0ecd52.06c9e","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
