node-red.json
[{"id":"2d085ca9992c3b3b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d0a7f7542b63d994","type":"debug","z":"2d085ca9992c3b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"a0f2f643.ae0bb8","type":"inject","z":"2d085ca9992c3b3b","name":"Poll all 125 registers","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"[\"0x01\",\"0x03\",\"0x00\",\"0x01\",\"0x00\",\"0x7d\",\"0xd4\",\"0x2b\"]","payloadType":"bin","x":200,"y":140,"wires":[["58087e57.c43378","7b63b43292b88857"]],"info":"# [\"0x01\", \"0x03\", \"0x00\", \"0x01\", \"0x00\", \"0x7d\", \"0xd4\", \"0x2b\"]\n# [\"0x01\",\"0x03\",\"0x00\",\"0x64\",\"0x00\",\"0x01\",\"0x66\",\"0xCA\"]"},{"id":"58087e57.c43378","type":"debug","z":"2d085ca9992c3b3b","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":180,"wires":[]},{"id":"0278d5e4d04b01d1","type":"function","z":"2d085ca9992c3b3b","name":"extract the SOC","func":"var soc = msg.payload[44];\n\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: soc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["e32fe20a7cedf9c9"]]},{"id":"7b63b43292b88857","type":"serial request","z":"2d085ca9992c3b3b","name":"","serial":"a542f510.da542","x":440,"y":120,"wires":[["d0a7f7542b63d994","0278d5e4d04b01d1","cce1816e52405223","6be9774df39d0492","ad62aae6b7b2015f","b7008322285cd1cb","db75ab780efae25c","e6d7ce9e9c58f07a","21bdee0946ad4a2f","4efb63fc5897b4f7","3edebef8c8c5dd61","f4ce67e373182c0c","511c43b5e457acf7","c4913da9fac70fe1","da14aabdcd67ba0b","cf793b3ba0102aba","a6e5eeaa3e2d637d"]]},{"id":"e32fe20a7cedf9c9","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"BMS SOC","entityConfig":"765219ac2222f3e9","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":160,"wires":[[]]},{"id":"cce1816e52405223","type":"function","z":"2d085ca9992c3b3b","name":"Cell1 Volt","func":"\nvar cell1 = msg.payload[75]\nvar cell2 = msg.payload[76]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["851db75b0ed6cc47"]]},{"id":"851db75b0ed6cc47","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell1 Volt","entityConfig":"f72def0f69d97ddf","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":220,"wires":[[]]},{"id":"6be9774df39d0492","type":"function","z":"2d085ca9992c3b3b","name":"Cell2 Volt","func":"\nvar cell1 = msg.payload[77]\nvar cell2 = msg.payload[78]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["76168a762ddd1947"]]},{"id":"76168a762ddd1947","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell2 Volt","entityConfig":"acd34a1d11fcfc5c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":260,"wires":[[]]},{"id":"ad62aae6b7b2015f","type":"function","z":"2d085ca9992c3b3b","name":"Cell3 Volt","func":"\nvar cell1 = msg.payload[227]\nvar cell2 = msg.payload[228]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":300,"wires":[["d63169221a889fc6"]]},{"id":"d63169221a889fc6","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell3 Volt","entityConfig":"63e00c45abecf2eb","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":300,"wires":[[]]},{"id":"b7008322285cd1cb","type":"function","z":"2d085ca9992c3b3b","name":"Cell4 Volt","func":"\nvar cell1 = msg.payload[229]\nvar cell2 = msg.payload[230]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":340,"wires":[["d601f75bc285b478"]]},{"id":"d601f75bc285b478","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell4 Volt","entityConfig":"56ec67a362ac7a1b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":340,"wires":[[]]},{"id":"db75ab780efae25c","type":"function","z":"2d085ca9992c3b3b","name":"Cell5 Volt","func":"\nvar cell1 = msg.payload[231]\nvar cell2 = msg.payload[232]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["a9e83928ebf9a424"]]},{"id":"a9e83928ebf9a424","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell5 Volt","entityConfig":"db7885482f0b0ee4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":380,"wires":[[]]},{"id":"e6d7ce9e9c58f07a","type":"function","z":"2d085ca9992c3b3b","name":"Cell6 Volt","func":"\nvar cell1 = msg.payload[233]\nvar cell2 = msg.payload[234]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["8dcd37dafbc86af0"]]},{"id":"8dcd37dafbc86af0","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell6 Volt","entityConfig":"02d5a6b0f9068835","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":420,"wires":[[]]},{"id":"21bdee0946ad4a2f","type":"function","z":"2d085ca9992c3b3b","name":"Cell7 Volt","func":"\nvar cell1 = msg.payload[235]\nvar cell2 = msg.payload[236]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":460,"wires":[["044e3ffb1ce69910"]]},{"id":"044e3ffb1ce69910","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell7 Volt","entityConfig":"dedd4555b7ca110b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":460,"wires":[[]]},{"id":"4efb63fc5897b4f7","type":"function","z":"2d085ca9992c3b3b","name":"Cell8 Volt","func":"\nvar cell1 = msg.payload[237]\nvar cell2 = msg.payload[238]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":500,"wires":[["38c9d17027d27c80"]]},{"id":"38c9d17027d27c80","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell8 Volt","entityConfig":"a88893a84d0ff312","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":500,"wires":[[]]},{"id":"3edebef8c8c5dd61","type":"function","z":"2d085ca9992c3b3b","name":"Cell9 Volt","func":"\nvar cell1 = msg.payload[239]\nvar cell2 = msg.payload[240]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":540,"wires":[["b581d4b54cd3ebd5"]]},{"id":"b581d4b54cd3ebd5","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell9 Volt","entityConfig":"bb6e33b0e1f483d4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":540,"wires":[[]]},{"id":"f4ce67e373182c0c","type":"function","z":"2d085ca9992c3b3b","name":"Cell10 Volt","func":"\nvar cell1 = msg.payload[241]\nvar cell2 = msg.payload[242]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":580,"wires":[["aa3a726f29099b0d"]]},{"id":"aa3a726f29099b0d","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell10 Volt","entityConfig":"8b6b4ba14e0390ea","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":580,"wires":[[]]},{"id":"511c43b5e457acf7","type":"function","z":"2d085ca9992c3b3b","name":"Cell11 Volt","func":"\nvar cell1 = msg.payload[243]\nvar cell2 = msg.payload[244]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":620,"wires":[["d60197ab2a7f5e0f"]]},{"id":"d60197ab2a7f5e0f","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell11 Volt","entityConfig":"32c98c5b67d73ae1","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":620,"wires":[[]]},{"id":"c4913da9fac70fe1","type":"function","z":"2d085ca9992c3b3b","name":"Cell12 Volt","func":"\nvar cell1 = msg.payload[245]\nvar cell2 = msg.payload[246]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":660,"wires":[["b5c4fa0533b0f695"]]},{"id":"b5c4fa0533b0f695","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell12 Volt","entityConfig":"fc3d477a0533410c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":660,"wires":[[]]},{"id":"da14aabdcd67ba0b","type":"function","z":"2d085ca9992c3b3b","name":"Cell13 Volt","func":"\nvar cell1 = msg.payload[247]\nvar cell2 = msg.payload[248]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":700,"wires":[["dbbc2d7c46d89e6f"]]},{"id":"dbbc2d7c46d89e6f","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell13 Volt","entityConfig":"6ebb9282a5257cc1","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":700,"wires":[[]]},{"id":"cf793b3ba0102aba","type":"function","z":"2d085ca9992c3b3b","name":"Cell14 Volt","func":"\nvar cell1 = msg.payload[249]\nvar cell2 = msg.payload[250]\n\nvar calc = ((cell1 * 255) + cell2) / 1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":740,"wires":[["a1685025c9835eac"]]},{"id":"a1685025c9835eac","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell14 Volt","entityConfig":"28287a7648553698","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":740,"wires":[[]]},{"id":"a6e5eeaa3e2d637d","type":"function","z":"2d085ca9992c3b3b","name":"Cell15 Volt","func":"\nvar cell1 = msg.payload[251]\nvar cell2 = msg.payload[252]\n\nvar calc = ((cell1 * 255) + cell2) /1000\nif (msg.payload[0] === 1 && msg.payload[1] === 3 && msg.payload[3] === 1 && msg.payload[4] === 0 &&\n    msg.payload[5] === 255 && msg.payload[6] === 255 && msg.payload[7] === 255 && msg.payload[8] === 255 && msg.payload[9] === 255) {\n    return { payload: calc };\n} else {\n   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":780,"wires":[["f7ddda51daa4856a"]]},{"id":"f7ddda51daa4856a","type":"ha-sensor","z":"2d085ca9992c3b3b","name":"Cell15 Volt","entityConfig":"44f0d6b699627361","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":850,"y":780,"wires":[[]]},{"id":"a542f510.da542","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"3000"},{"id":"765219ac2222f3e9","type":"ha-entity-config","server":"af0ecd52.06c9e","deviceConfig":"","name":"BMS Battery","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS battery"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":true},{"id":"f72def0f69d97ddf","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"acd34a1d11fcfc5c","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"63e00c45abecf2eb","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell3","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 3"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"56ec67a362ac7a1b","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell4","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 4"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"db7885482f0b0ee4","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell5","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 5"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"02d5a6b0f9068835","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell6","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 6"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"dedd4555b7ca110b","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell7","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 7"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"a88893a84d0ff312","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell8","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 8"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bb6e33b0e1f483d4","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell9","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 9"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8b6b4ba14e0390ea","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell10","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 10"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"32c98c5b67d73ae1","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell11","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 11"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fc3d477a0533410c","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell12","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 12"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6ebb9282a5257cc1","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell13","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 13"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"28287a7648553698","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell14","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 14"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"44f0d6b699627361","type":"ha-entity-config","server":"89ae6392.ae241","deviceConfig":"","name":"BMS: Cell15","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"BMS: Cell 15"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"af0ecd52.06c9e","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"89ae6392.ae241","type":"server","name":"Home Assistant","addon":true}]
